<div class="footer">
  <div class="container">
    <div class="socials">
      <a class="btn btn-secondary" href="https://www.facebook.com/dialog/feed?app_id=184683071273&link=http%3A%2F%2Fdidjagswin.com&picture=&name=Did%20the%20Jacksonville%20Jaguars%20Win%20Today%3F&caption=%20&description=I%20wonder%20if%20the%20Jags%20won%20today....&redirect_uri=http%3A%2F%2Fwww.facebook.com%2F" target="_blank" title="Share on Facebook">Share on Facebook</a>
      <a class="btn btn-secondary" href="http://twitter.com/intent/tweet?text=Did%20the%20Jacksonville%20%23Jaguars%20win%3F%20http%3A%2F%2Fdidjagswin.com" target="_blank" title="Share on Twitter">Share on Twitter</a>
    </div>
  </div><!--/.container-->
</div><!--/.footer-->