<header class="header">
  <div class="container">
    <em class="logo-text hidden-sm">Did the Jaguars Win? By: <a class="link link-underline" href="https://brianzotoole.com/?ref=didjagswin.com" target="_blank">Brian O'Toole</a></em>
    <div class="nav-toggle">
	  <i class="i-menu">
	    <a class=""><i><span>Teams</span></i></a>
      </i><!--/.i-menu-->
    </div><!--/.nav-toggle-->
    <div class="menu-wrapper">
      <ul class="menu-list">
        <li class="bears"><a href="{{site.baseurl}}/#!/">Chicago Bears</a></li>
        <li class="browns"><a href="{{site.baseurl}}/#!/">Cleveland Browns</a></li>
        <li class="bucs"><a href="{{site.baseurl}}/#!/">Tampa Bay Buccaneers</a></li>
        <li class="bg-primary"><a href="https://brianzotoole.com/?ref=didjagswin.com">Need a Website?</a></li>
      </ul><!--/.menu-list-->
    </div><!--/.menu-wrapper-->
  </div><!--/.container-->
</header><!--/.header-->