// Buttons

.btn {
  display: inline-block;
  position: relative;
  background-color: $color-primary-dark;
  border-radius: calc-em(3px);
  color: $color-white;
  font-size: calc-em(16px);
  font-weight: normal;
  line-height: 1.3;
  margin-right: calc-em(10px);
  padding: calc-em(10px) calc-em(12px);
  transition: 0.25s all ease-out;
  &:hover,
  a &:hover,
  &:focus,
  a &:focus,
  &:active,
  a &:active,
  &.active {
	background-color: darken($color-primary-dark, 7%);
	color: $color-white;
	text-decoration: none;
  }
}

.btn-secondary {
  background-color: $color-secondary-dark;
  &:hover,
  a &:hover,
  &:focus,
  a &:focus,
  &:active,
  a &:active,
  &.active { 
    background-color: darken($color-secondary-dark, 7%);
  }
}

.btn-white {
  background-color: $color-white;
  color: $color-secondary-dark;
  &:hover,
  a &:hover,
  &:focus,
  a &:focus,
  &:active,
  a &:active,
  &.active { 
    background-color: darken($color-white, 7%);
    color: darken($color-secondary-dark, 7%);
  }
}
